
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



<div>
    <div class="card">
        <div class="card-header text-white bg-danger bg-gradient">
            <span class="fs-4">Portföy Listesi</span>
            <a href="#" id="btnEkle" class="btn btn-warning ms-2">Yeni Proje Ekle</a>
        </div>
        <div class="card-body">
            <table id="portfolioTable" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Filter</th>
                        <th>ImageUrl</th>
                        <th>ProjectUrl</th>
                        <th>Data Created</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
     aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Yeni Proje Oluştur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input id="txtName" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Filter</label>
                        <input id="txtFilter" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">ImageUrl</label>
                        <input id="txtImageUrl" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">ProjectUrl</label>
                        <input id="txtProjectUrl" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button id="btnSave" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (en az 3.3.1 sürümü) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS (uygun sürümü ekleyin) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- DataTables (1.13.7 sürümü) -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        $("#btnEkle").click(function () {
            $("#modalTitle").text("Yeni Portfolio Oluştur");
            $("#btnSave").text("Kaydet").removeClass('btn-success').addClass('btn-primary');
            $("#txtName").val("");
            $("#txtFilter").val("");
            $("#txtImageUrl").val("");
            $("#txtProjectUrl").val("");

            $("#modal").modal('show');

            $("#btnSave").off().click(function () {
                var veri = {
                    Name: $("#txtName").val(),
                    Filter: $("#txtFilter").val(),
                    ImageUrl: $("#txtImageUrl").val(),
                    ProjectUrl: $("#txtProjectUrl").val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Admin/Portfolio/PortfolioAdd',
                    data: veri,
                    success: function (res) {
                        $("#modal").modal('hide');
                        $("#txtName").val("");
                        $("#txtFilter").val("");
                        $("#txtImageUrl").val("");
                        $("#txtProjectUrl").val("");
                        dataTable.ajax.reload();
                    },
                    error: function (error) {
                        Swal.fire(
                            'Hata!',
                            'Proje ekleme işlemi başarısız oldu. Hata: ' + error.statusText,
                            'error'
                        );
                    }
                });
            });
        });

        var dataTable = $('#portfolioTable').DataTable({
            ajax: {
                url: '/Admin/Portfolio/GetAll',
                dataSrc: ''
            },
            columns: [
                { data: 'id' },
                { data: 'name' },
                { data: 'filter' },
                { data: 'imageUrl' },
                { data: 'projectUrl' },
                { data: 'dataCreated' },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `<a href="#" onclick="deletePortfolio(${row.id})" class="btn btn-sm btn-danger">Sil</a>
                                                        <a href="#" onclick="editEmail(${data.id})" class="btn btn-sm btn-primary">Düzenle</a>`;
                    }
                }
            ]
        });

        function deletePortfolio(portfolioId) {
            Swal.fire({
                title: 'Silmek istediğinize emin misiniz?',
                text: "Proje Silinecek",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Portfolio/PortfolioDelete/' + portfolioId,
                        method: 'POST',
                        success: function () {
                            Swal.fire(
                                'Başarılı!',
                                'Proje silindi.',
                                'success'
                            );
                            dataTable.ajax.reload();
                        },
                        error: function () {
                            Swal.fire(
                                'Hata!',
                                'Proje silinemedi.',
                                'error'
                            );
                        }
                    });
                }
            });
        }
    });

</script>
