
@{
    Layout = null;
}

<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Hoşgeldin! Ben, <span class="mt-4 d-block">Mert Araz</span></h1>
        <p><span class="typed" data-typed-items="Javascript, Angular, React, C#"></span></p>
    </div>
</section>

